<section class="main-section full-screen">
  <div class="row">
    <div class="large-12 columns">
        <br/><br/>
        <div class="panel">
            <h1>Whoops!</h1>
            <p>
              We're sorry, an error occurred. We didn't mean it, we promise!!
            </p>
        </div>

    </div>
  </div>
</section>

<a class="exit-off-canvas"></a>
{{outlet}}
